#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean || true
	dh_clean

override_dh_auto_build:
	$(MAKE) USE_PGXS=1

override_dh_auto_install:
	$(MAKE) install USE_PGXS=1 DESTDIR=$(CURDIR)/debian/tmp

override_dh_auto_test:
	@echo "Skipping tests"

